@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background: #222;
  color: #eee;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #2cc990;
}

h1 {
  color: #2cc990;
  margin: 20px;
}

#app {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.keyboard-container {
  padding: 0;
  width: 554px;
}

.keyboard, .control-keys,
.control-label ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.control-label li[data-light='false'] { color: #444 }
.control-label li[data-light='true'] { color: #c98f2c; }

.octave {
  float: right;
  width: 136px;
}

.control-keys-container { overflow: auto; }

.keyboard {
  height: 134px;
  margin-top: 6px;
  margin-bottom: 35px;
}

.control-keys li,
.keyboard li {
  border: 1px solid;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
  height: 64px;
  width: 64px;
}

.keyboard li {
  border-color: #2cc990;
  color: #2cc990;
  position: absolute;
  top: 0;
}

.control-keys { overflow: auto; }
.control-keys li {
  border-color: #c98f2c;
  color: #c98f2c;
  float: left;
  margin-left: 6px;
}

.control-keys li:first-child { margin-left: 0; }

.control-group {
  text-align: center;
}

.control-label {
  font-size: smaller;
  margin-bottom: 6px;
}

.control-label li {
  display: inline;
  font-size: x-large;
  padding: 2px;
}

.keyboard li:nth-child(1),
.keyboard li:nth-child(3),
.keyboard li:nth-child(5),
.keyboard li:nth-child(6),
.keyboard li:nth-child(8),
.keyboard li:nth-child(10),
.keyboard li:nth-child(12),
.keyboard li:nth-child(13) {
  top: 70px;
}

.keyboard li:nth-child(1) { left: 0; }
.keyboard li:nth-child(2) { left: 35px; }
.keyboard li:nth-child(3) { left: 70px; }
.keyboard li:nth-child(4) { left: 105px; }
.keyboard li:nth-child(5) { left: 140px; }
.keyboard li:nth-child(6) { left: 210px; }
.keyboard li:nth-child(7) { left: 245px; }
.keyboard li:nth-child(8) { left: 280px; }
.keyboard li:nth-child(9) { left: 315px; }
.keyboard li:nth-child(10) { left: 350px; }
.keyboard li:nth-child(11) { left: 385px; }
.keyboard li:nth-child(12) { left: 420px; }
.keyboard li:nth-child(13) { left: 490px; }

.keyboard [data-key-down='true'] {
  background: #2cc990;
  color: #222;
}

.control-keys [data-key-down='true'] {
  background: #c98f2c;
  color: #222;
}

.by-line {
  text-align: center;
  font-size: smaller;
  position: fixed;
  bottom: 40px;
  left: 0; right: 0;
}
